@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;0,700;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  text-align: start;
  cursor: pointer;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 1rem;
  line-height: auto;
  color: auto;
  min-width: 20rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header" "main";
}

.header {
  grid-area: header;
  min-height: 2.62rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__open-menu::after {
  content: url("../images/icon-menu.svg");
}
.header__open-menu:hover {
  cursor: pointer;
}
.header .side-background {
  position: fixed;
  width: 0%;
  height: 100vh;
  z-index: 1;
  overflow-x: hidden;
  background-color: hsla(0, 0%, 0%, 0.75);
  top: 0;
  left: 0;
}
.header .menu {
  position: fixed;
  z-index: 1;
  width: 0;
  height: 100vh;
  overflow-x: hidden;
  top: 0;
  right: 0;
  background-color: hsl(0, 0%, 98%);
  transition: 0.5s;
}
.header .menu__close-menu {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  left: 77%;
  margin: 0 0 1rem 1rem;
}
.header .menu__close-menu::after {
  content: url("/images/icon-close-menu.svg");
}
.header .menu__close-menu:hover {
  cursor: pointer;
  transform: rotate(180deg);
  transition: 0.5s;
}
.header .menu__option {
  display: block;
  width: 100%;
  height: 2.62rem;
  display: flex;
  flex-direction: row;
  justify-content: auto;
  align-items: center;
  font-family: "Epilogue", sans-serif;
  font-size: 1rem;
  line-height: auto;
  color: hsl(0, 0%, 41%);
}
.header .menu__option:hover {
  color: hsl(0, 0%, 8%);
}
.header .menu__option--drop::after {
  content: url("/images/icon-arrow-down.svg");
  padding-left: 1rem;
}
.header .menu__option--login {
  font-size: 0.87rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .menu__option--login:hover {
  text-decoration: underline;
}
.header .menu__option--register {
  font-size: 0.87rem;
  border: 1px solid hsl(0, 0%, 41%);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .menu__option--register:hover {
  border-color: hsl(0, 0%, 8%);
  transition: 0.5s;
}
.header .menu-account-section {
  margin-top: 1rem;
}
.header .menu .dropdown-menu__content {
  display: none;
}
.header .menu .dropdown-menu:hover .dropdown-menu__content {
  display: block;
}
.header .menu .dropdown-menu:hover .menu__option--drop::after {
  content: url("/images/icon-arrow-up.svg");
}
.header .menu .dropdown-menu__option {
  display: block;
  width: 100%;
  height: 2.62rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: auto;
  align-items: center;
  column-gap: 1rem;
  font-family: "Epilogue", sans-serif;
  font-size: 1rem;
  line-height: auto;
  color: hsl(0, 0%, 41%);
}
.header .menu .dropdown-menu__option:hover {
  transform: translateX(0.5rem);
  transition: 0.5s;
  height: 40px;
}
.header .menu .dropdown-menu .todo::before {
  content: url("/images/icon-todo.svg");
}
.header .menu .dropdown-menu .calendar::before {
  content: url("/images/icon-calendar.svg");
}
.header .menu .dropdown-menu .reminder::before {
  content: url("/images/icon-reminders.svg");
}
.header .menu .dropdown-menu .planning::before {
  content: url("/images/icon-planning.svg");
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main-content .picture__hero {
  max-width: 100%;
}
.main-content .article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 0.9rem;
}
.main-content .article__header {
  font-family: "Epilogue", sans-serif;
  font-size: 2.25rem;
  line-height: auto;
  color: hsl(0, 0%, 8%);
}
.main-content .article__text {
  text-align: center;
  font-family: "Epilogue", sans-serif;
  font-size: 1rem;
  line-height: 1.62rem;
  color: hsl(0, 0%, 41%);
}
.main-content .article__link {
  background-color: hsl(0, 0%, 8%);
  border-radius: 0.8rem;
  width: 8.5rem;
  height: 2.62rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Epilogue", sans-serif;
  font-size: 1rem;
  line-height: auto;
  color: hsl(0, 0%, 98%);
}
.main-content .article__link:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
  border: 1px solid;
}
.main-content .article .client-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-content .article .client-list__item {
  width: 80%;
}

@media screen and (min-width: 48rem) {
  .header .menu__close-menu {
    left: 90%;
  }
  .main-content .picture__hero {
    max-width: 100%;
  }
  .main-content .article,
  .main-content .client-list {
    gap: 2rem;
  }
}
@media screen and (min-width: 64rem) {
  .header__open-menu {
    display: none;
  }
  .header .side-background {
    display: none;
  }
  .header .menu {
    position: inherit;
    z-index: 0;
    width: 90%;
    height: inherit;
    top: auto;
    right: auto;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
  }
  .header .menu__close-menu {
    display: none;
  }
  .header .menu__option {
    display: inline-block;
    width: 6.5rem;
    display: flex;
    flex-direction: row;
    justify-content: auto;
    align-items: center;
  }
  .header .menu-account-section {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
  .header .menu .dropdown-menu {
    display: inline-block;
  }
  .header .menu .dropdown-menu__content {
    position: fixed;
    background-color: hsl(0, 0%, 98%);
    border-radius: 0.5rem;
  }
  .main-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: end;
    margin: 0rem 6rem 6rem 6rem;
    column-gap: 4rem;
  }
  .main-content .article {
    align-items: flex-start;
    margin: 0;
  }
  .main-content .article__header {
    font-size: 58px;
    text-align: start;
    position: relative;
    bottom: 3.75rem;
  }
  .main-content .article__text {
    text-align: start;
    position: relative;
    bottom: 3.75rem;
  }
  .main-content .article__link {
    position: relative;
    bottom: 3.12rem;
  }
}
@media screen and (min-width: 90rem) {
  .main-content {
    margin: 0rem 8rem 6rem 8rem;
    column-gap: 4rem;
  }
  .main-content .article {
    align-items: flex-start;
    margin: 0;
  }
  .main-content .article__header {
    font-size: 5rem;
    text-align: start;
    position: relative;
    bottom: 12.5rem;
  }
  .main-content .article__text {
    text-align: start;
    position: relative;
    bottom: 11.25rem;
  }
  .main-content .article__link {
    position: relative;
    bottom: 10rem;
  }
}

/*# sourceMappingURL=style.css.map */
